nodered_flow.json
[
  {
    "id": "tab_monitor",
    "type": "tab",
    "label": "Monitor Cardíaco",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui_tab_1",
    "type": "ui_tab",
    "z": "tab_monitor",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_group_1",
    "type": "ui_group",
    "z": "tab_monitor",
    "name": "Medidas",
    "tab": "ui_tab_1",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "z": "tab_monitor",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "mqtt_in_alldata",
    "type": "mqtt in",
    "z": "tab_monitor",
    "name": "alldata",
    "topic": "fiap/medical/alldata",
    "qos": "0",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "json_parse"
      ]
    ]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "tab_monitor",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 300,
    "y": 80,
    "wires": [
      [
        "fn_split"
      ]
    ]
  },
  {
    "id": "fn_split",
    "type": "function",
    "z": "tab_monitor",
    "name": "Extrair medidas + alerta",
    "func": "// Recebe payload JSON {temperature, humidity, heartRate, timestamp}\nvar data = msg.payload;\nif (typeof data === 'string') {\n    try { data = JSON.parse(data); } catch(e) { return null; }\n}\nvar temp = parseFloat(data.temperature) || 0;\nvar hr = parseInt(data.heartRate) || 0;\n\n// Mensagem para temperatura (usada por chart, gauge e texto de valor)\nvar mTemp = { payload: temp, topic: 'temperature', _msgid: msg._msgid };\n// Mensagem para batimentos (usada por chart e texto de valor)\nvar mHR = { payload: hr, topic: 'heartRate', _msgid: msg._msgid };\n// Mensagem de alerta (texto)\nvar alert = 'OK';\nif (hr > 120) alert = 'ALERTA: Frequência cardíaca alta (' + hr + ' bpm)';\nif (temp > 38) alert = (alert === 'OK') ? ('ALERTA: Temperatura alta ('+temp+' °C)') : (alert + ' + Temperatura alta ('+temp+' °C)');\nvar mAlert = { payload: alert, topic: 'alert', _msgid: msg._msgid };\n\n// Envia três saídas\nreturn [mTemp, mHR, mAlert];",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 80,
    "wires": [
      [
        "ui_chart_temp",
        "ui_gauge_temp",
        "ui_text_temp_value"
      ],
      [
        "ui_chart_hr",
        "ui_text_hr_value"
      ],
      [
        "ui_text_alert",
        "debug_alert"
      ]
    ]
  },
  {
    "id": "ui_chart_temp",
    "type": "ui_chart",
    "z": "tab_monitor",
    "name": "Temperatura (°C)",
    "group": "ui_group_1",
    "order": 1,
    "width": 8,
    "height": 4,
    "label": "Temperatura",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 60,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a"
    ],
    "useOldStyle": false,
    "x": 820,
    "y": 40,
    "wires": []
  },
  {
    "id": "ui_gauge_temp",
    "type": "ui_gauge",
    "z": "tab_monitor",
    "name": "Gauge Temp",
    "group": "ui_group_1",
    "order": 2,
    "width": 4,
    "height": 2,
    "gtype": "gage",
    "title": "Temperatura °C",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 820,
    "y": 120,
    "wires": []
  },
  {
    "id": "ui_chart_hr",
    "type": "ui_chart",
    "z": "tab_monitor",
    "name": "Frequência Cardíaca (bpm)",
    "group": "ui_group_1",
    "order": 4,
    "width": 12,
    "height": 4,
    "label": "Batimentos por minuto",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "200",
    "removeOlder": 60,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#ff0000",
      "#ffaaaa"
    ],
    "useOldStyle": false,
    "x": 820,
    "y": 200,
    "wires": []
  },
  {
    "id": "ui_text_alert",
    "type": "ui_text",
    "z": "tab_monitor",
    "group": "ui_group_1",
    "order": 6,
    "width": 12,
    "height": 1,
    "name": "Alerta",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 820,
    "y": 280,
    "wires": []
  },
  {
    "id": "debug_alert",
    "type": "debug",
    "z": "tab_monitor",
    "name": "DEBUG Alert",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 820,
    "y": 340,
    "wires": []
  },
  {
    "id": "ui_text_temp_value",
    "type": "ui_text",
    "z": "tab_monitor",
    "group": "ui_group_1",
    "order": 3,
    "width": 4,
    "height": 2,
    "name": "Valor Temperatura",
    "label": "Temperatura Atual",
    "format": "<div style=\"font-size: 2em; color: #1f77b4; font-weight: bold;\">{{msg.payload}} °C</div>",
    "layout": "row-center",
    "x": 840,
    "y": 80,
    "wires": []
  },
  {
    "id": "ui_text_hr_value",
    "type": "ui_text",
    "z": "tab_monitor",
    "group": "ui_group_1",
    "order": 5,
    "width": 4,
    "height": 2,
    "name": "Valor Frequência",
    "label": "Batimentos Atuais",
    "format": "<div style=\"font-size: 2em; color: #ff0000; font-weight: bold;\">{{msg.payload}} bpm</div>",
    "layout": "row-center",
    "x": 830,
    "y": 240,
    "wires": []
  }
]